body {
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    justify-content: center;   */
} 

.fixed-container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: rgb(40, 99, 143);
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;  
}


header {
    height: 200px;
    width: 100%;
    border: 3px double rgb(81, 49, 39);
    background-color: rgb(252, 245, 235);
}


nav {
    display: flex;
}
p {
    font-family: 'Source Sans Pro';
    font-size: 14pt;
    color: rgb(81, 49, 39);
}
.header {
    display: flex;
    max-height: 200px;
    min-width: 100vw;
    border: 3px double burlywood;
    background-color: rgb(252, 245, 235);
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 20px;
/*width: 1440px;
height: 200px;
left: 0px;
top: 0px;*/
background-color: rgb(252, 245, 235);
border: 3px solid rgb(40, 99, 143);
overflow-y: scroll;

}

.nav-links ul li {
    display: inline;
    list-style: none;
    margin: 10px;
    color: rgb(40, 99, 143);
    /* text-align: center; */
}

.nav-links a {
    text-decoration: none;
    color: rgb(40, 99, 143);
}

.nav-links a:hover {
   color: rgb(81, 49, 39)
}

.d-flex input-group w-auto {
    display: inline;
    align-items: flex-end;
    border-radius: 25%;
}


.logo img {
    height: 100px;
    width: 100px;
    margin: 25px;
    align-self: center;
    color: rgb(40, 99, 143);
}


nav ul li {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(40, 99, 143);
    text-decoration: none;
    font-size: 14pt;
    padding: 15px;
}


nav a:hover {
   color: rgb(81, 49, 39)
   }



.logo {
    display: flex;
    align-self: stretch ;
    min-height: 100%;
    min-width: 150px;
    background-color: rgb(40, 99, 143);
    margin: 0;
    border: 1px solid rgb(124, 139, 81);
    justify-content: flex-start;
}



.intro {
    display: flex;
    height: 400px;
    width: 1440px;
    background-color: #fff;
    border: 3px double rgb(81, 49, 39);
    margin: 0px;
    align-content: center;
    justify-content: center;
    padding: 25px;
}


.meet {
    color: rgb(81, 49, 39);
    margin: 50px;
    padding: 10px 100px 50px 100px;
    border: 3px solid rgb(81, 49, 39);
    line-height: 20px;
    text-align: center;
}



.meet button {
    background-color: rgb(252, 245, 235);
    margin-top: 30px;
    width: 150px;
    height: 35px;
    color: rgb(81, 49, 39);
    border: .5px solid rgb(81, 49, 39);
    border-radius: 25px;
    font-size: 14px;
}


.intro img {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: rgb(40, 99, 143);
    border: 3px solid rgb(81, 49, 39);
    justify-content: right;
    align-self: center;
}

.bgi_img {
    min-width: 1440px;
    min-height: 100px;    
}

.about {
    display: flex;
    width: 1440px;
    flex-direction: row;
    background-color: #fff;
    align-content: center;
    height: 400px;
    justify-content: space-around;
}

.abtimg {
    display: flex;
    width: 300px;
    height: 200px;
    background-color:rgb(252, 245, 235);
    align-self: center;
    text-align: center;
}


.about-tb {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 250px;
    background-color: #fff;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    padding: 50px 25px 75px 25px;
    border: 3px solid rgb(81, 49, 39);
}


.about-tb-btn {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-content: space-between;
}


.about-tb button {
    display: flex; 
    background-color: rgb(252, 245, 235);
    margin: 50px ;
    width: 150px;
    height: 35px;
    border: .5px solid rgb(81, 49, 39);
    border-radius: 25px;
    font-size: 14px;
    align-content: space-around;
  
}



.cards {
    display: flex;
    flex-flow: row wrap;
    height: 525px;
    width: 100%;
    background-color: rgb(40, 99, 143);
    border: 3px double rgb(81, 49, 39);
    justify-content: space-around;
    align-content: space-between;
    column-gap: 30px;
    padding: 10px 0 30px 0;
}


.cards h1 {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    color: rgb(252, 245, 235)
}

.example {
    display: flex; 
    background-color: rgb(252, 245, 235);
    margin: 50px ;
    width: 150px;
    height: 35px;
    border: 3px double rgb(81, 49, 39);;
    border-radius: 25px;
    font-size: 14px;
    align-content: center;
    justify-content: center;
}


.one {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 15px;
}


.one img {
    height: 150px;
    margin: 10px;
    align-content: center;
}

.one a {
    color: rgb(40, 99, 143);
    text-decoration: none;
    align-self: center;
}

.one a:hover {
    color: rgb(81, 49, 39);
}


.two {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.two img {
    height: 150px;
    margin: 10px;
    align-content: center;
}

.two a {
    color: rgb(40, 99, 143);
    text-decoration: none;
    align-self: center;
}

.two a:hover {
    color: rgb(81, 49, 39);
}

.three {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.three img {
    height: 150px;
    margin: 10px;
    align-content: center;
}


.three a {
    color: rgb(40, 99, 143);
    text-decoration: none;
    align-self: center;
}

.three a:hover {
    color: rgb(81, 49, 39);
}

.experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    width: 1440px;
    background-color: #fff;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
}

.experience h1 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
    padding: 0;
    color: rgb(40, 99, 143);
}

.experience img {
    display: flex;
    height: 500px;
    margin: 0 35px;
}

.econtent {
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}


.one_two {
    display: flex;
    flex-direction: column;
    margin: 50px 0 35px 0;
    justify-content: space-around;
    align-content: space-around;
}


.years_one {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 35px;  
}

.years_one h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
}


.years_one h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 0;
}

.years_one p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}


.years_two {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 35px;
}

.years_two h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
}

.years_two h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 0;
}

.years_two p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.three_four {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    justify-content: space-around;
    align-content: space-around;
}

.years_three {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 35px 0;
    
}

.years_three h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
}


.years_three h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 0;
}

.years_three p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}


.years_four {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.years_four h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
}

.years_four h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 0;
}

.years_four p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}


.skills {
    display: flex;
    height: 500px;
    width: 100%;
    background-color:rgb(252, 245, 235);
}

.skills h1 {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    color: rgb(40, 99, 143);
}



footer {
    display: flex;
    min-height: 150px;
    width: 1440px;
    background-color: rgb(252, 245, 235);
    border: 3px double rgb(81, 49, 39);
    align-content: center;
    justify-content: center;
   
}


footer p {
    display: flex;
    padding: 30px;
    align-content: center;
}


.lglogo {
    display: block;
    align-self: stretch;
    width: 300px;
    text-align: center;
    background-color: rgb(40, 99, 143);
    justify-content: center;
}


.lglogo h2 {
    color: rgb(252, 245, 235);
}


.lglogo img {
    height: 75%;
}

