@import url("https://use.typekit.net/eim3vkg.css");
@import url("https://use.typekit.net/qda2xul.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Define font families */
/* Apply font families to typography */
h1 {
  font-family: "Shelby", cursive;
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "Shelby", cursive;
  font-size: 36px;
  color: rgb(11, 38, 58);
}

h4 {
  font-family: "Shelby", cursive;
  font-size: 24px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

caption {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: light italic;
}

a {
  display: flex;
  flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
  text-decoration: none;
  color: rgb(11, 38, 58);
  padding: 16px 24px;
}
a:hover {
  color: rgb(252, 245, 235);
  border-radius: 25px;
  filter: drop-shadow(3px 3px 3px black);
}
a:active {
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  caption {
    font-size: 12px;
  }
  a {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  caption {
    font-size: 10px;
  }
  a {
    font-size: 12px;
  }
  li a {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 10px;
  }
  caption {
    font-size: 10px;
  }
  a {
    font-size: 12px;
  }
}
blockquote {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  /* additional styling */
}

/*font sizes*/
/*$font-size-header: 2rem;*/
.header-one {
  width: 100vw;
  position: sticky;
}

header {
  display: flex;
  height: 200px;
  width: 100vw;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgb(252, 245, 235);
}
header .header-accent {
  display: flex;
  width: 75vw;
  height: 50px;
  justify-content: space-between;
  background-color: rgb(170, 193, 221);
  border-radius: 5px;
  align-items: center;
}
header .header-accent #nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(11, 38, 58);
  width: 50vw;
  margin: 0 15px;
}
header .header-accent #nav-links ul #nav-links a {
  font-size: 12px;
}
header .header-accent #nav-links ul #nav-links a:hover {
  color: rgb(252, 245, 235);
  border-radius: 25px;
  filter: drop-shadow(3px 3px 3px black);
}
header .header-accent #nav-links ul #nav-links a:active {
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

#header-logo {
  display: flex;
  height: 200px;
  width: 250px;
  background-color: rgb(170, 193, 221);
  margin: 0 100px;
  justify-content: center;
  align-items: center;
  padding: 30px auto;
}
#header-logo img {
  display: flex;
  height: 175px;
  width: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#header-logo a:hover {
  filter: drop-shadow(3px 3px 3px black);
}
#header-logo a:active {
  color: rgb(11, 38, 58);
}

/*a {
  text-decoration: none;
  color: $blue-dark;
  font-size: 12pt;
  padding: 12px 40px;


}

#hamburger-menu {
  display: none;
}




/*header 2*/
/*On hover the button colors go into their respective negatives.  Active is a darker color than hover.  These colors can be changes to customize the buttons uses */
.btn_sizes {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

/*ul {
		text-decoration: none;
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
}*/
.btn {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 50px;
  min-width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn a {
  text-decoration: none;
  align-self: center;
  margin: 0 auto;
}
.btn:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(41, 99, 143);
}
.btn:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

/*************************************************/
.btn-small {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 50px;
  width: 100px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 12px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.btn-small a {
  text-decoration: none;
  align-self: center;
}
.btn-small a:hover {
  width: 200px;
  border-radius: 25px;
}
.btn-small:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(41, 99, 143);
}
.btn-small:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

.btn-large {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 100px;
  width: 200px;
  height: 50px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-large a {
  text-decoration: none;
  align-self: center;
}
.btn-large:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(41, 99, 143);
  filter: drop-shadow(0 0 0.5rem black);
}
.btn-large:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

.btn-icon {
  display: flex;
  background-color: rgb(41, 99, 143);
  margin: 100px;
  width: 75px;
  height: 75px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 50%;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-icon a {
  text-decoration: none;
  align-self: center;
}
.btn-icon:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(41, 99, 143);
  filter: drop-shadow(0 0 0.5rem black);
}
.btn-icon:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

.btn-gradient {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 100px;
  width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-gradient a {
  text-decoration: none;
  align-self: center;
}
.btn-gradient:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(41, 99, 143);
  filter: drop-shadow(0 0 0.5rem black);
}
.btn-gradient:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

.btn-square {
  display: flex;
  padding: 10px 20px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 4px;
  background-color: rgb(252, 245, 235);
  margin: 100px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}
.btn-square a {
  text-decoration: none;
  align-self: center;
  list-style: none;
}
.btn-square:hover {
  background-color: rgb(41, 99, 143);
}

/* The hero image */
/* Place text in the middle of the image */
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.hero1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Quote.png");
  height: 65%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero1 img {
  display: flex;
  width: 100%;
  height: 50%;
  margin: auto;
  padding: auto;
}

.hero-text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 245, 235);
}

/*button {
	margin: 10px;
	width: 100px;
	height: 35px;
	border-radius: 25px;
	text-align: center;
	&:hover {
		background-color: $blue-main;
		color: $cream;
		filter: drop-shadow(2px 2px 2px black);
	}
}*/
/* My Favorite Font */
.hero2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  margin: 10px auto;
  justify-content: space-between;
  align-content: center;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  margin: 75px auto;
  width: 25vw;
  height: 300px;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin: 25px auto;
  border: 1px solid black;
  width: 50vw;
  height: 400px;
}
.type img {
  display: flex;
  margin: 25px;
  width: 20em;
  height: 25em;
}
.type .fav_font {
  display: flex;
  flex-direction: column;
  height: 0.25fr;
  width: 25%;
  flex-basis: 0.5;
  justify-content: space-around;
  align-content: space-around;
  font-size: 16px;
  margin: auto;
  padding: auto;
}
.type .fav_font h3 {
  text-align: center;
  margin: 10px;
}
.type .fav_font blockquote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 15em;
  margin: 50% auto 15px auto;
}
.type .fav_font figcaption {
  text-align: center;
  padding: 15px;
  width: 20em;
  height: 25em;
}

/*end of my favorite font*/
/*intro/meet*/
.intro {
  display: flex;
  height: 400px;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  border: 3px double rgb(81, 49, 39);
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.intro img {
  display: flex;
  height: 250px;
  width: 250px;
  margin: 50px;
  background-color: rgb(170, 193, 221);
  padding: 25px;
  justify-content: right;
  align-self: center;
}

.meet {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 30px 75px;
  border: 1px solid rgb(81, 49, 39);
  line-height: 40px;
  text-align: center;
  justify-content: center;
  align-items: space-around;
  /*button {
  	display: flex;
  	justify-content: center;
  	align-items: flex-end;
  	margin: 20px 30px;
  }*/
}
.meet h2 {
  font-size: 24px;
  color: rgb(11, 38, 58);
}

/*end of intro/meet*/
/*cards / Projects*/
.cards {
  display: flex;
  flex-flow: row wrap;
  height: 525px;
  min-width: 100vw;
  background-color: rgb(252, 245, 235);
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 10px 30px 30px 30px;
}
.cards h1 {
  display: flex;
  width: 100%;
  margin: 5px 0 10px 0;
  justify-content: center;
  align-content: space-around;
  color: rgb(11, 38, 58);
}
.cards h3 {
  margin-bottom: 10px;
}

.one, .two, .three {
  display: flex;
  flex-basis: 25%;
  height: 425px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.one img, .two img, .three img {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 10px auto;
  align-items: center;
  filter: drop-shadow(3px 3px 3px black);
}
.one .cards_txt, .two .cards_txt, .three .cards_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  margin: 10px;
  padding: 10px;
}

/*.two {
	display: flex;
	flex-basis: 25%;
	height: 425px;
	flex-direction: column;
	background-color: $white;
	border: 2px solid rgb(81, 49, 39);
	text-align: center;
	justify-content: center;
	align-content: space-around;
	padding: 15px;
	img {
		height: 150px;
		margin: 10px;
		align-content: center;
		filter: drop-shadow(3px 3px 3px black);
	}
}
.three {
	display: flex;
	flex-basis: 25%;
	height: 425px;
	flex-direction: column;
	background-color: $white;
	border: 2px solid rgb(81, 49, 39);
	text-align: center;
	justify-content: center;
	align-content: space-around;
	padding: 15px;
	img {
		height: 150px;
		margin: 10px;
		align-content: center;
		filter: drop-shadow(3px 3px 3px black);
	}
}

/*end of cards/projects*/
/*Experience*/
.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  border: 3px double rgb(81, 49, 39);
  justify-content: center;
  padding: 30px;
  margin-bottom: 75px;
}
.experience h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  color: rgb(11, 38, 58);
}
.experience img {
  display: flex;
  height: 500px;
  margin: 0 35px;
}

.one_two {
  display: flex;
  flex-direction: column;
  margin: 50px 0 35px 0;
  justify-content: space-around;
  align-content: space-around;
}

.years_one, .years_two {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 150px;
  border: 3px double rgb(81, 49, 39);
  justify-content: center;
  align-content: space-between;
  padding: 25px;
  margin-bottom: 35px;
}
.years_one h2, .years_two h2 {
  display: flex;
  color: rgb(81, 49, 39);
  justify-content: center;
  align-content: space-around;
  margin: 0px 0 5px 0;
}
.years_one h3, .years_two h3 {
  display: flex;
  color: rgb(11, 38, 58);
  justify-content: center;
  align-content: space-around;
  margin: 5px 0 10px 0;
}
.years_one p, .years_two p {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
}

/*.years_two {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 150px;
	border: 3px double rgb(81, 49, 39);
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	margin-bottom: 35px;
	h2 {
		display: flex;
		color: $blue-dark;
		justify-content: center;
		align-content: center;
		margin: 0px 0 5px 0;
	}
	h3 {
		display: flex;
		color: $blue-dark;
		justify-content: center;
		align-content: center;
		margin: 5px 0 10px 0;
	}
	p {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 5px;
	}
}*/
.three_four {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px 0;
  justify-content: space-around;
  align-content: space-around;
}

.years_three, .years_four {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 150px;
  border: 3px double rgb(81, 49, 39);
  justify-content: center;
  align-content: space-between;
  padding: 25px;
  margin-bottom: 35px;
}
.years_three h2, .years_four h2 {
  display: flex;
  color: rgb(81, 49, 39);
  justify-content: center;
  align-content: space-around;
  margin: 0px 0 5px 0;
}
.years_three h3, .years_four h3 {
  display: flex;
  color: rgb(11, 38, 58);
  justify-content: center;
  align-content: space-around;
  margin: 5px 0 10px 0;
}
.years_three h4, .years_four h4 {
  display: flex;
  color: rgb(11, 38, 58);
  justify-content: center;
  align-content: center;
  margin: 0px 0 0px 0;
}
.years_three p, .years_four p {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
}

/*.years_four {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 150px;
	border: 3px double rgb(81, 49, 39);
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	h2 {
		display: flex;
		color: $blue-dark;
		justify-content: center;
		align-content: center;
		margin: 0px 0 10px 0;
	}
	h4 {
		display: flex;
		color: $blue-dark;
		justify-content: center;
		align-content: center;
		margin: 5px 0 0px 0;
	}
	p {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 5px;
		margin-top: 5px;
	}
}*/
.ftr-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

.footer1 {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 200px;
  background: rgb(252, 245, 235);
  color: rgb(81, 49, 39);
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.footer1 .logo-ftr1 {
  display: flex;
  width: 20vw;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  background-color: rgb(170, 193, 221);
  padding: 10px;
}
.footer1 .logo-ftr1 img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.footer1 .logo-ftr1 img:hover {
  filter: drop-shadow(3px 3px 3px black);
}
.footer1 .logo-ftr1 p {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 10px 0;
}
.footer1 #contact-info {
  display: flex;
  flex-direction: column;
  width: 33vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer1 #contact-info a {
  text-decoration: none;
  color: rgb(11, 38, 58);
  font-size: 14pt;
  padding: 12px 20px;
}
.footer1 #contact-info a:hover {
  color: rgb(41, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.footer1 #contact-info h3 {
  font-weight: 700;
  margin: 0;
}
.footer1 #contact-info p {
  font-weight: 400;
  margin: 5px;
}
.footer1 #contact-info #t_c_anchors {
  display: flex;
  justify-content: space-around;
}
.footer1 #contact-info #t_c_anchors a {
  color: rgb(11, 38, 58);
  margin: 25px;
}
.footer1 #contact-info #t_c_anchors a:hover {
  color: rgb(41, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.footer1 .social-icons {
  display: flex;
  flex-flow: row wrap;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.footer1 .social-icons img {
  height: 40px;
  width: 40px;
  margin: 0 0.5rem;
}
.footer1 .social-icons a {
  color: rgb(255, 255, 255);
}
.footer1 .social-icons a:hover {
  filter: drop-shadow(3px 3px 3px black);
  background-color: none;
}
.footer1 .social-icons a:active {
  background-color: none;
}
.footer1 .social-icons p {
  width: 100%;
  margin: 20px;
}

/*end of footer 1*/
/*footer 2*/
/*.footer2 {
    display: flex;
    width: 100vw;
    height: 200px;
    background: $cream-dark;
    color: $black;
    padding: 2rem 0;
    text-align: center;
    margin: 30px 0;

    .additional-info {
        display: flex;
        flex-direction: column;
        width: 25%;
        border: 1px solid $blue-dark;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
        }
    }

    .ftr2-center {
        display: flex;
        flex-direction: column;
        width: 15%;
        border: 1px solid $black;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }

        p {
            width: 300px;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
        }
    }

    .logo-ftr2 {
        display: flex;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        padding: 1rem;
        border-radius: 0;
        background: $black;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        line-height: 100px;
        font-size: 2rem;
        font-weight: 700;

        h3 {
            color: $cream-dark;
            font-family: $accent;
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }

        p {
            color: $black;
            font-size: .75rem;
            font-weight: 400;
            margin: 0;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        width: 25%;
        border: 1px solid $black;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

        img {
            height: 40px;
            width: 40px;
            margin: 0 0.5rem;
        }

        a {
            color: $white;
            font-size: 1.5rem;
            margin: 0 0.5rem;

            &:hover {
                border: 1px solid $white;
            }
        }
    }


}*/
@media (max-width: 480px) {
  .footer2 {
    flex-direction: column;
    min-height: auto;
    justify-content: center;
  }
  .footer2 .logo-ftr2 {
    width: 100vw;
    margin: 0;
  }
  .footer2 .logo-ftr2 img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  #contact-info {
    min-width: 100vw;
    margin: 0 auto;
  }
  .social-icons {
    width: 100vw;
    margin: 0;
    justify-content: center;
    flex-direction: column;
  }
  .social-icons img {
    height: 30px;
    width: 30px;
    margin: 0 0.25rem;
  }
}
@media (max-width: 480px) {
  .footer2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer2 .contact-info {
    width: 100%;
    margin: 20px;
  }
  .footer2 .contact-info h3 {
    font-size: 2rem;
  }
  .footer2 .contact-info p {
    font-size: 1.25rem;
  }
  .footer2 .logo-ftr2 {
    width: 100%;
    margin: 20px;
  }
  .footer2 .social-icons {
    width: 100%;
    margin: 20px;
  }
}
/*769-1279laptops/lgtablets*/
/*481-768-tablet/lgsmtphones*/
/*320-480-smphones*/
/*desktops and laptops
@media (min-width: 1025px) and (max-width: 1280px)*/
/*tablets in landscape mode
@media (min-width: 769px) and (max-width: 1024px) */
/*tablets in portrait mode
@media (min-width: 481px) and (max-width: 768px) */
/*mobiles in landscape mode
@media (min-width: 321px) and (max-width: 480px) */
/*mobiles in portrait mode
@media (max-width: 320px) */
/************************************************************/
/*BUTTONS!!!!*/
/*desktops and laptops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .btn {
    margin: 35px;
    min-width: 125px;
    min-height: 25px;
    font-size: 16px;
  }
}
/*tablets in landscape mode*/
@media (min-width: 769px) and (max-width: 1024px) {
  .btn {
    margin: 25px;
    min-width: 100px;
    min-height: 25px;
  }
}
/*tablets in portrait mode*/
@media (min-width: 481px) and (max-width: 768px) {
  .btn {
    margin: 15px;
    min-width: 100px;
    min-height: 25px;
  }
}
/*mobiles in landscape mode*/
@media (min-width: 321px) and (max-width: 480px) {
  .btn {
    margin: 15px 10px;
    min-width: 100px;
    min-height: 25px;
  }
}
/*mobiles in portrait mode*/
@media (max-width: 320px) {
  .btn {
    margin: 10px 10px;
    min-width: 100px;
    min-height: 25px;
  }
}
/*header*/
/* Tablet styles */
@media (min-width: 799px) and (max-width: 1024px) {
  header {
    display: flex;
    height: auto;
    width: 100vw;
  }
  header #header-logo {
    display: flex;
    height: auto;
    width: 150px;
    margin: auto;
    justify-content: center;
    align-content: center;
  }
  header #header-logo img {
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  header .header-accent {
    width: 75vw;
    height: auto;
  }
  header .header-accent #nav-links ul {
    display: flex;
    flex-direction: row;
  }
  header .header-accent #nav-links ul a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    background-color: rgb(170, 193, 221);
    color: rgb(11, 38, 58);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  header .header-accent #nav-links ul a:hover {
    background-color: rgb(11, 38, 58);
    color: rgb(252, 245, 235);
  }
}
/* Mobile styles */
@media (min-width: 481px) and (max-width: 800px) {
  header {
    display: flex;
    height: auto;
    width: 100vw;
  }
  header #header-logo {
    display: flex;
    height: auto;
    width: 35vw;
    margin: auto;
    justify-content: center;
    align-content: center;
  }
  header #header-logo img {
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  header .header-accent {
    width: 75vw;
    height: auto;
    background-color: rgb(252, 245, 235);
  }
  header .header-accent #nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header-accent #nav-links ul a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    background-color: rgb(214, 224, 242);
    color: rgb(11, 38, 58);
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid rgb(11, 38, 58);
    transition: all 0.3s ease;
  }
  header .header-accent #nav-links ul a:hover {
    background-color: rgb(11, 38, 58);
    color: rgb(252, 245, 235);
  }
}
@media screen and (max-width: 480px) {
  header {
    display: flex;
    height: auto;
    width: 100vw;
    padding: 12px;
  }
  header #header-logo {
    display: flex;
    height: auto;
    max-width: 150px;
    background-color: rgb(170, 193, 221);
    margin: 0 auto 15px;
    justify-content: center;
    align-content: center;
  }
  header #header-logo img {
    display: flex;
    height: 125px;
    width: 125px;
    margin: 0 auto;
  }
  header .header-accent {
    width: 75vw;
    height: auto;
    background-color: rgb(252, 245, 235);
  }
  header .header-accent #nav-links ul {
    display: flex;
    flex-direction: column;
  }
  header .header-accent #nav-links ul a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    background-color: rgb(214, 224, 242);
    color: rgb(11, 38, 58);
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid rgb(11, 38, 58);
    transition: all 0.3s ease;
  }
  header .header-accent #nav-links ul a:hover {
    background-color: rgb(11, 38, 58);
    color: rgb(214, 224, 242);
  }
}
/*intro/meet*/
/*mobiles in portrait mode*/
/*desktops and laptops
@media (min-width: 1025px) and (max-width: 1280px) {
}*/
/*tablets in landscape mode*/
@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    display: flex;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .intro img {
    height: 200px;
    width: 200px;
    margin: 25px 10px;
    padding: 25px;
    transition: all 0.3s ease;
  }
  .meet {
    height: 200px;
    width: 200px;
    margin: 15px;
    padding: 30px 45px;
    line-height: 25px;
    align-content: center;
    transition: all 0.3s ease;
  }
  .meet h1 {
    font-size: 32px;
  }
  .meet h2 {
    font-size: 16px;
  }
}
/*tablets in portrait mode*/
@media (min-width: 481px) and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .intro img {
    max-height: 175px;
    max-width: 175px;
    margin: 25px;
    padding: 20px;
    transition: all 0.3s ease;
  }
  .meet {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 30px;
    padding: 15px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease;
  }
  .meet h1 {
    font-size: 32px;
  }
  .meet h2 {
    font-size: 16px;
  }
}
/*mobiles in landscape mode*/
@media (min-width: 321px) and (max-width: 480px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
  }
  .intro h1 {
    font-size: 28px;
  }
  .intro h2 {
    font-size: 12px;
  }
  .intro img {
    height: 150px;
    width: 150px;
    margin: 35px;
    padding: 15px;
  }
  .meet {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 15px;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
  }
  .meet h1 {
    font-size: 28px;
  }
  .meet h2 {
    font-size: 12px;
  }
}
/*mobiles in portrait mode*/
@media (max-width: 320px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
  }
  .intro h1 {
    font-size: 28px;
  }
  .intro h2 {
    font-size: 12px;
  }
  .intro img {
    height: 150px;
    width: 150px;
    margin: 35px;
    padding: 15px;
  }
  .meet {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 15px;
    padding: 15px 10px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
  }
  .meet h1 {
    font-size: 28px;
  }
  .meet h2 {
    font-size: 12px;
  }
}
/*bgimg*/
/*@media (min-width: 769px) and (max-width: 1024px)*/
/*@media (max-width: 768px)*/
/*hero2*/
/*desktops and laptops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .hero2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    margin: 10px auto;
    justify-content: space-between;
    align-content: center;
    transition: all 0.3s ease;
  }
  .circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 75px auto;
    width: 25vw;
    height: auto;
  }
  .type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin: 25px auto;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 400px;
  }
  .type img {
    display: flex;
    margin: 25px;
    width: 20em;
    height: 25em;
  }
}
/*tablets in landscape mode*/
@media (min-width: 769px) and (max-width: 1024px) {
  .hero2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    margin: 10px auto;
    padding: 25px;
    justify-content: space-between;
    align-content: center;
    transition: all 0.3s ease;
  }
  .hero2 .circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 75px auto;
    width: 15vw;
    height: auto;
  }
  .hero2 .type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px auto;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: auto;
    /*************************Smaller img*************************/
  }
  .hero2 .type img {
    display: flex;
    margin: 25px;
    width: 20em;
    height: 25em;
  }
}
/*tablets in portrait mode*/
@media (min-width: 481px) and (max-width: 768px) {
  .hero2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    margin: 10px auto;
    padding: 25px;
    justify-content: space-between;
    align-content: center;
    transition: all 0.3s ease;
    /*smaller circles img******************************and fav_font*******/
  }
  .hero2 .circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 75px auto;
    width: 15vw;
    height: auto;
  }
  .hero2 .type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px auto;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: auto;
  }
  .hero2 .type img {
    display: flex;
    margin: 25px;
    width: 15em;
    height: auto;
  }
}
/*mobiles in landscape mode
@media (min-width: 321px) and (max-width: 480px) */
/*mobiles in portrait mode
@media (max-width: 320px) */
/*cards/projects*/
@media (min-width: 769px) and (max-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .one,
  .two,
  .three {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75vw;
    margin: 20px auto;
    padding: 15px;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease;
  }
}
/*tablets in landscape mode*/
@media (min-width: 481px) and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .one,
  .two,
  .three {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75vw;
    margin: 20px auto;
    padding: 15px;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease;
  }
}
/*mobiles in landscape mode*/
@media (min-width: 321px) and (max-width: 480px) {
  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .one,
  .two,
  .three {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75vw;
    margin: 20px auto;
    padding: 15px;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease;
  }
}
/*mobiles in portrait mode*/
@media (max-width: 320px) {
  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-content: center;
  }
  .one,
  .two,
  .three {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75vw;
    margin: 20px auto;
    padding: 15px;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease;
  }
}
/*experience(hero)*/
/*pod-from style to cards*/
/*bgi2*/
@media (min-width: 769px) and (max-width: 1024px) {
  .footer1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: space-around;
  }
  .footer1 .logo-ftr1 {
    width: 25vw;
    margin: 0;
  }
  .footer1 .logo-ftr1 img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  .footer1 #contact-info {
    min-width: 25vw;
    margin: 0 auto;
  }
  .footer1 .social-icons {
    width: 30vw;
    margin: 0;
    justify-content: center;
    flex-direction: row;
  }
  .footer1 .social-icons a {
    margin: 0 10px;
    padding: 10px;
  }
  .footer1 .social-icons img {
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: space-around;
  }
  .footer1 .logo-ftr1 {
    display: flex;
    justify-self: center;
    width: 100vw;
    margin: 0;
  }
  .footer1 .logo-ftr1 img {
    height: 125px;
    width: 125px;
    margin: 0 auto;
  }
  .footer1 #contact-info {
    min-width: 100vw;
    margin: 0 auto;
  }
  .footer1 .social-icons {
    width: 100vw;
    margin: 0;
    justify-content: center;
    flex-flow: row wrap;
  }
  .footer1 .social-icons a {
    margin: 0 5px;
    padding: 15px;
  }
  .footer1 .social-icons img {
    height: 30px;
    width: 30px;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .footer1 {
    flex-direction: column;
    min-width: 100vw;
    min-height: auto;
    justify-content: center;
  }
  .footer1 .logo-ftr1 {
    min-width: 100vw;
    margin: 0;
  }
  .footer1 .logo-ftr1 img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  .footer1 .social-icons {
    width: 100vw;
    margin: 0;
    justify-content: center;
    flex-direction: row;
  }
  .footer1 .social-icons img {
    height: 30px;
    width: 30px;
    margin: 0;
  }
  #contact-info {
    min-width: 100vw;
    margin: 0 auto;
  }
}
body {
  width: 100vw;
  font-family: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fixed-container {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.bgi1 {
  height: 300px;
  min-width: 100vw;
  background-image: url(homepage_images/bgi_banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: rgb(81, 49, 39) 1px solid;
}

@media (max-width: 768px) {
  .bgi1 {
    height: 150px;
    min-width: 100vw;
    background-image: url(homepage_images/bgi_180px.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.about {
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  background-color: rgb(252, 245, 235);
  align-content: center;
  height: 400px;
  justify-content: space-around;
}

.abtimg {
  display: flex;
  min-width: 300px;
  min-height: 200px;
  background-color: rgb(252, 245, 235);
  align-self: center;
  text-align: center;
}

.about-tb {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 250px;
  background-color: rgb(41, 99, 143);
  margin: 10px 0;
  align-items: center;
  justify-content: space-around;
  padding: 50px 25px 75px 25px;
  border: 3px solid rgb(81, 49, 39);
}
.about-tb h1 {
  margin: 40px;
}
.about-tb button {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 50px;
  min-width: 150px;
  min-height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 14px;
  justify-content: center;
  align-content: center;
  color: rgb(11, 38, 58);
  text-decoration: none;
}
.about-tb button:hover {
  background-color: rgb(41, 99, 143);
  color: rgb(252, 245, 235);
}
.about-tb button:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

.about-tb-btn {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 0px;
}

.pod {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  height: 525px;
  min-width: 100vw;
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 10px 30px 30px 30px;
}
.pod h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  color: rgb(11, 38, 58);
}

/*# sourceMappingURL=style.css.map */
