body {
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
} 

.fixed-container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: rgb(40, 99, 143);
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;  
}


header {
    display: flex;
    max-height: 200px;
    min-width: 100vw;
    flex-flow: row wrap;
    margin: 0 50px 0 0;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(252, 245, 235);
    border: 3px double rgb(81, 49, 39);
}


nav {
    display: flex;
    margin: 0;
}





.nav-links ul li {
    color: rgb(40, 99, 143);
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}

 button {
        display: flex;
        background-color: rgb(252, 245, 235);
        min-width: 150px;
        min-height: 35px;
        border: .5px solid rgb(81, 49, 39);
        border-radius: 25px;
        justify-content: center;
        text-align: center; 
        margin: 30px;
}

 button:hover {
    background-color: rgb(40, 99, 143);
    color: rgb(252, 245, 235);
}


 a {
    text-decoration: none;
    color:  rgb(11, 38, 58);
    font-size: 12pt;
    padding: 12px 20px;
}

 a:hover {
    background-color: rgb(40, 99, 143);
    color: rgb(252, 245, 235);
    border-radius: 25px;
}

 a:active {
    color: rgb(252, 245, 235);
    background-color: rgb(11, 38, 58);
}

button:active {
    background-color: rgb(11, 38, 58);
    color: rgb(252, 245, 235);
}


.logo {
    display: flex;
    max-height: 200px;
    min-height: 100%;
    min-width: 250px;
    background-color: rgb(40, 99, 143);
    margin: 0 100px;
    border: 1px solid rgb(81, 49, 39);
    justify-content: center;
}


.logo img {
    display: flex;  
    min-height: 75px;
    min-width:  75px;
    margin: 15px;
    color: rgb(40, 99, 143);
}




.intro {
    display: flex;
    height: 400px;
    min-width: 100vw;
    background-color: #fff;
    border: 3px double rgb(81, 49, 39);
    margin: 0px;
    align-content: center;
    justify-content: center;
    padding: 25px;
}


.meet {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 30px 75px;
    border: 3px solid rgb(81, 49, 39);
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: space-around;
}

.meet h2 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(81, 49, 39);
}

.meet button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 30px;
}
  

.intro img {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: rgb(40, 99, 143);
    border: 3px solid rgb(81, 49, 39);
    justify-content: right;
    align-self: center;
}

.bgi {
    height: 400px;
    min-width: 100vw;
    background-image: url(homepage_images/fs_backgroundimg.png); 
    background-size: cover;
    margin: 0;
}

.about {
    display: flex;
    min-width: 100vw;
    flex-direction: row;
    background-color: #fff;
    align-content: center;
    height: 400px;
    justify-content: space-around;
}

.abtimg {
    display: flex;
    min-width: 300px;
    min-height: 200px;
    background-color:rgb(252, 245, 235);
    align-self: center;
    text-align: center;
}


.about-tb {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 250px;
    background-color: #fff;
    margin: 10px 0;
    align-items: center;
    justify-content: space-around;
    padding: 50px 25px 75px 25px;
    border: 3px solid rgb(81, 49, 39);
}

.about-tb h1 {
    margin: 40px;
}

.about-tb-btn {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 0px;
}


.about-tb button {
    display: flex; 
    background-color: rgb(252, 245, 235);
    margin: 50px ;
    min-width: 150px;
    min-height: 35px;
    border: .5px solid rgb(81, 49, 39);
    border-radius: 25px;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    color: rgb(11, 38, 58);
    text-decoration: none;
  }

.about-tb  button:hover {
    background-color: rgb(40, 99, 143);
    color: rgb(252, 245, 235);
}

.about-tb button:active {
    background-color: rgb(11, 38, 58);
    color: rgb(252, 245, 235);
}


.cards {
    display: flex;
    flex-flow: row wrap;
    height: 525px;
    min-width: 100vw;
    background-color: rgb(40, 99, 143);
    border: 3px double rgb(81, 49, 39);
    justify-content: space-around;
    align-content: space-between;
    column-gap: 30px;
    padding: 10px 30px 30px 30px;
}


.cards h1 {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-content: space-around;
    color: rgb(252, 245, 235)
}

.cards h3 {
    margin-bottom: 10px;
}


.one {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: space-around;
    padding: 15px;
}


.one img {
    height: 150px;
    margin: 10px;
    align-content: center;
    filter:drop-shadow(3px 3px 3px black);
}

.two {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: space-around;
    padding: 15px;
}

.two img {
    height: 150px;
    margin: 10px;
    align-content: center;
    filter:drop-shadow(3px 3px 3px black);
}

.three {
    display: flex;
    flex-basis: 25%;
    height: 425px;
    flex-flow: row wrap;
    background-color: #fff;
    border: 2px solid rgb(81, 49, 39);
    text-align: center;
    justify-content: center;
    align-content: space-around;
    padding: 15px;
}

.three img {
    height: 150px;
    margin: 10px;
    align-content: center;
    filter:drop-shadow(3px 3px 3px black);
}

.experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    min-width: 100vw;
    background-color: #fff;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    padding: 30px;
}

.experience h1 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
    padding: 0;
    color: rgb(40, 99, 143);
}

.experience img {
    display: flex;
    height: 500px;
    margin: 0 35px;
}

.econtent {
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}


.one_two {
    display: flex;
    flex-direction: column;
    margin: 50px 0 35px 0;
    justify-content: space-around;
    align-content: space-around;
}


.years_one {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-content: space-between;
    padding: 0 15px;
    margin-bottom: 35px;  
}

.years_one h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: space-around;
    margin: 0px 0 5px 0;
}


.years_one h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: space-around;
    margin: 5px 0 10px 0;
}

.years_one p {
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 5px;
}


.years_two {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 35px;
}

.years_two h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 0px 0 5px 0;
}

.years_two h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 5px 0 10px 0;
}

.years_two p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.three_four {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    justify-content: space-around;
    align-content: space-around;
}

.years_three {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 35px 0;
    
}

.years_three h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 0px 0 5px 0;
}


.years_three h3 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 5px 0 10px 0;
}

.years_three p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}


.years_four {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border: 3px double rgb(81, 49, 39);
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.years_four h2 {
    display: flex;
    color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
    margin: 0px 0 10px 0;
}

.years_four h4 {
    display: flex;
    color: rgb(81, 49, 39);
    justify-content: center;
    align-content: center;
    margin: 5px 0 0px 0;
}

.years_four p {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-top: 5px;
}


.pod {
    background-color:rgb(252, 245, 235);
    display: flex;
    flex-flow: row wrap;
    height: 525px;
    min-width: 100vw;
    border: 3px double rgb(81, 49, 39);
    justify-content: space-around;
    align-content: space-between;
    column-gap: 30px;
    padding: 10px 30px 30px 030px;
}


.pod h1 {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    color: rgb(40, 99, 143);
}



footer {
    display: flex;
    min-height: 250px;
    min-width: 100vw;
    background-color: rgb(252, 245, 235);
    border: 3px double rgb(81, 49, 39);
    align-content: center;
    margin: 0;
}



.contact {
    display: block;
    margin: 0 5%;
}
.contact a {
    display: block;
    color: rgb(40, 99, 143);
}


.contact h3 {
    color: rgb(81, 49, 39);
    margin: 5px;
    text-align: center;
}

.ftr_logo {
    display: flex;
    align-self: stretch;
    min-width: 250px;
    margin: 0 auto;
    background-color: rgb(40, 99, 143);
    justify-content: center;
    align-content: center;
}  




.ftr_logo img {
    display: flex;
    align-self: center;
    height: 75%;
}
