.header-one {
    width: 100vw;
    position: sticky;
}
header {
    display: flex;
    height: 200px;
	  width: 100vw;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-image: -webkit-gradient(linear, right top, left bottom, from($brown), to($dk_verdigris));
    //background-image: url(homepage_images/copper_bg_img.png);
    .header-accent {
      display: flex;
      width: 75vw;
      height: 50px;
      justify-content: space-between;
      background-color: $cream;
      border-radius: 5px;
      align-items: center;
      #nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $cream;
        
        width: 50vw;
        margin: 0 15px;
        #nav-links a {
          font-size: 12px;
          &:hover {
            color: $brown-text;
            border-radius: 25px;
            filter: drop-shadow(3px 3px 3px black);
          }
          &:active {
            color: $brown-text;
            filter: drop-shadow(3px 3px 3px black);
          }
        }
      }
    }
    
  }

  
  #header-logo {
  display: flex;
	height: 200px;
	width: 250px;
	background-color: $cream;
	margin: 0 100px;
  justify-content: center;
  align-items: center;
  padding: 30px auto;
	img {
		display: flex;
		height: 175px;
		width: 175px;
		margin-top: 20px;
    margin-bottom: 20px;
	}
  a:hover {
    filter: drop-shadow(3px 3px 3px $brown-text);
  }
  a:active {
    color: $brown-text;
  }
  }
  
 
  
 
  
  
  
  /*a {
    text-decoration: none;
    color: $blue-dark;
    font-size: 12pt;
    padding: 12px 40px;
    
    
  }

  #hamburger-menu {
    display: none;
  }

  
 

  /*header 2*/