.header-one {
    width: 100vw;
    position: sticky;
}
header {
    display: flex;
    max-height: 200px;
	  min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: $cream;
    .header-accent {
      display: flex;
      width: 75vw;
      height: 50px;
      justify-content: space-between;
      background-color: $blue-mid;
      border-radius: 5px;
      align-items: center;
      #nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $blue-dark;
        
        width: 50vw;
        margin: 0 15px;
        #nav-links a {
          font-size: 12px;
          &:hover {
            color: $cream;
            border-radius: 25px;
            filter: drop-shadow(3px 3px 3px black);
          }
          &:active {
            color: $cream;
            filter: drop-shadow(3px 3px 3px black);
          }
        }
      }
    }
    
  }

  
  #header-logo {
  display: flex;
	height: 200px;
	width: 250px;
	background-color: $blue-mid;
	margin: 0 100px;
  justify-content: center;
  align-items: center;
	img {
		display: flex;
		min-height: 75px;
		min-width: 75px;
		margin: 0;
	}
  a:hover {
    filter: drop-shadow(3px 3px 3px black);
  }
  a:active {
    color: $blue-dark;
  }
  }
  
 
  
 
  
  
  
  /*a {
    text-decoration: none;
    color: $blue-dark;
    font-size: 12pt;
    padding: 12px 40px;
    
    
  }*/

  #hamburger-menu {
    display: none;
  }

  
 

  /*header 2*/