header {
    display: flex;
    max-height: 200px;
	  min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: $cream;
  }
  
  #header-logo {
  display: flex;
	max-height: 200px;
	/*min-height: 100%;*/
	min-width: 250px;
	background-color: $blue-main;
	margin: 0 100px;
	border: 1px solid $brown-text;
	justify-content: center;
  align-items: center;
	img {
		display: flex;
		min-height: 75px;
		min-width: 75px;
		margin: 15px;
		color: $blue-main;
	}
  a:hover {
    filter: drop-shadow(3px 3px 3px black);
  }
  a:active {
    color: $blue-dark;
  }
  }
  

  
 #nav-links ul {
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
    color: $blue-dark;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: $blue-dark;
  }
  /*#nav-links {
    ul {
      display: flex;
      li {
        margin-right: 1rem;
        color: $blue-dark;
        display: inline-flex;
        list-style: none;
        justify-content: space-between;
      }
      .nav-links li:last-child {
        margin-right: 0;
      }
    }
  }*/
  button {
    display: flex;
    background-color: $cream;
    color: $blue-dark;
    min-width: 150px;
    min-height: 35px;
    border: .5px solid rgb(81, 49, 39);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    margin: 30px;
    &:hover {
      background-color: $blue-main;
      color: $blue-main;
    }
    &:active {
      background-color: $blue-dark;
      color: $blue-dark;
    }
  }
  a {
    text-decoration: none;
    color: $blue-dark;
    font-size: 12pt;
    padding: 12px 20px;
    &:hover {
      
      color: $cream;
      border-radius: 25px;
    }
    &:active {
      color: $cream;
     
    }
  }

  .hamburger-menu {
    display: none;
  }
  
  /* Tablet styles */
  @media (max-width: 768px) {
    #nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  
    #nav-links ul {
      flex-direction: column;
    }
  
    #nav-links li {
      margin: 0;
      border-bottom: 1px solid #ccc;
    }
  
    .hamburger-menu {
      display: block;
      margin-left: auto;
      margin-right: 0;
      font-size: 2rem;
      background-color: transparent;
      color: $blue-dark;
      border: none;
      cursor: pointer;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 480px) {
    .logo {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  /*header 2*/