$blue-main: rgb(40, 99, 143);
$blue-dark: rgb(11, 38, 58);
$cream: rgb(252, 245, 235);
$cream-dark: rgb(242, 235, 225);
$brown-accent: rgb(124, 77, 58);
$brown-text: rgb(81, 49, 39);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// font

@import url("https://use.typekit.net/eim3vkg.css");
@import url("https://use.typekit.net/qda2xul.css");
/* Define font families */
$header: 'Shelby', cursive;
$body: 'Montserrat', sans-serif;
$accent: 'Montserrat', sans-serif;

/* Apply font families to typography */
h1, h2, h3 {
    font-weight: bold;
    /* additional styling */
  }

h1 {
    font-family: $header;
    font-size: 64px;
}

h2 {
    font-family: $header;
    font-size: 40px;
}

h3 {
    font-family: $header;
    font-size: 21px;
}

h4 {
    font-family: $header;
    font-size: 24px;
}

h5 {
    font-family: $accent;
    font-size: 16px;
    font-style: italic;
}
p {
    font-family: $body;
    font-size: 14px;
    font-weight: normal;
}

a {
    font-family: $accent;
    font-size: 16px;
    
    font-style: italic;
}

blockquote {
    font-family: $accent;
    font-style: italic;
    /* additional styling */
  }

/*font sizes*/
/*$font-size-header: 2rem;*/

$body: 16px;
$accent: 16px;