$blue-main: rgb(41, 99, 143);
$blue-light: rgb(214, 224, 242);
$blue-mid: rgb(170, 193, 221);
$blue-mid-dark: rgb(94, 145, 204);
$blue-dark: rgb(11, 38, 58);
$cream: rgb(252, 245, 235);
$cream-dark: rgb(242, 235, 225);
$brown-accent: rgb(124, 77, 58);
$brown-text: rgb(81, 49, 39);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$brown: rgb(189, 131, 91);
$copper: rgb(250, 172, 113);
$verdigris: rgb(111, 170, 167);
$dk_verdigris: rgb(105, 138, 133);
$copper-gradient: -webkit-gradient(linear, right, $brown,$copper,$verdigris,$dk_verdigris,$brown);

// font

@import url("https://use.typekit.net/eim3vkg.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* Define font families */
$header: 'Great Vibes', cursive;
$body: 'Aesthet-Nova', serif;
$accent: 'Aesthet-Nova', serif;

/* Apply font families to typography */

h1 {
    font-family: $header;
    font-size: 64px;

}

h2 {
    font-family: $body;
    font-size: 40px;
}

h3 {
    font-family: $header;
    font-size: 36px;
    color: $blue-dark;
}

h4 {
    font-family: $body;
    font-size: 24px;
}

h5 {
    font-family: $accent;
    font-size: 16px;
    font-style: italic;
}

p {
    font-family: $body;
    font-size: 14px;
    font-weight: regular;
}

caption {
    font-family: $body;
    font-size: 12px;
    font-weight: light italic;
}

nav a {
    display: flex;
    flex-flow: row wrap;
    font-family: $accent;
    font-size: 1rem;
    text-decoration: none;
    color: $dk_verdigris;
    padding: 16px 24px;
    &:hover {
        color: $brown-text;
        border-radius: 25px;
        filter: drop-shadow(3px 3px 3px $brown-text);
      }
      &:active {
        color: $brown-text;
        filter: drop-shadow(3px 3px 3px $brown-text);
      }
}

.btn a {
    display: flex;
    flex-flow: row wrap;
    font-family: $accent;
    font-size: 1rem;
    text-decoration: none;
    color: $cream;
    padding: 16px 24px;
    &:hover {
        color: $brown-text;
        border-radius: 25px;
        filter: drop-shadow(3px 3px 3px $brown-text);
      }
      &:active {
        color: $brown-text;
        filter: drop-shadow(3px 3px 3px $brown-text);
      }
}

@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    caption {
        font-size: 12px;
    }
    a {
        font-size: 16px;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    caption {
        font-size: 10px;
    }
    a {
        font-size: 12px;
    }
    li a {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 12px;
    }
    h5 {
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    caption {
        font-size: 10px;
    }
    a {
        font-size: 12px;
    }
}
blockquote {
    font-family: $accent;
    font-style: italic;
    /* additional styling */
  }

/*font sizes*/
/*$font-size-header: 2rem;*/

$body: 16px;
$accent: 16px;