@import "reset";
@import "variables";
@import "header";
@import "button";
@import "hero";
@import 'card';
@import "footer";
@import "media";

body {
  width: 100vw;
  font-family: $body;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*.fixed-container {
	max-width: 1280px;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
}*/

.bgi1 {
  height: 300px;
  min-width: 100vw;
  background-image: url(homepage_images/bgi_banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .bgi1 {
    height: 150px;
    min-width: 100vw;
    background-image: url(homepage_images/bgi_180px.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



