@import "reset";
@import "variables";
@import "header";
@import "button";
@import "hero";
@import 'card';
@import "footer";
@import "media";

body {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $cream;
}

.body-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
}
/*.fixed-container {
	max-width: 1280px;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
}*/

.bgi1 {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  

}

.bgi2 {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
 

}

@media (max-width: 800px) {
  .bgi1 {
  
    height: 150px;
    width: 100%
  }

  .bgi2 {
    height: 150px;
    width: 100%;
   
  }
}

@media (max-width: 480px) {
  .bgi1 {
    height: auto;
    width: 480px;
  }

  .bgi2 {
    height: auto;
    width: 480px;
   
  }
}


